html, body {
    background-color: #f1f1f1;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    background-image: url("../images/treebanch.jpg");
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;

}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    background-image: radial-gradient(white, white, rgba(255,255,255, 0.8));
    padding:60px;
    border-radius:32px;
}

.title {
    font-size: 64px;
    color: saddlebrown;
}

.title img {
    height:64px;
}

.title p {
    font-size:22px;
    margin:0;
    padding:0;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}